body {
  padding-top: 50px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  margin-bottom: 0px;
  padding-bottom: 0px;
}

h1 {
  padding-left: 10px;
}

.activated {
  border: 1px dashed;
}

.container-fluid {
  position: relative;
  /*background-image: url("../images/bwbg.jpg");
  background-repeat: no-repeat;
  background-size: cover;*/
}

.bgimg {
  background-image: url("../images/bwbg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 90vh;
  min-width: 90vw;
  position: absolute;
  left: 30vw;
  z-index: -10;
}

@media screen and (max-width: 768px) {
  .bgimg {
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0vw;
    /*bottom: 0;*/
  }

  #about {
    margin-top: 40vh;
  }
}

#imgb {
  margin-top: 10vh;
  width: 25vw;
  min-width: 300px;
  min-height: 330px;
  height: 50vh;
}

.first {
  height: 75vh;
}

.col-sm-4 {
  margin: 0px;
  padding: 0px;
}

.col-sm-12 {
  /*border-style: solid;
  border-color: #199DCE;*/
  text-align: center;
  font-size: 18px;
  /*font-weight: bold;*/
  font-family: 'Roboto', sans-serif;
  padding: 5px 10px;
}

.btn-lg .btn-block .gray a {
  color: gray;
}
