body {
  padding-top: 50px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

h1 {
  padding-left: 10px;
}

.activated {
  border: 1px dashed;
}

#canvas {
  height: 50vw;
  width: 100vw;
  overflow: hidden;
  position: relative;
}
