body {
  padding-top: 50px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

h1 {
  padding-left: 10px;
}

.activated {
  border: 1px dashed;
}

#canvas {
  /*height: 100vw;
  width: 100vw;*/
  overflow: hidden;
  position: relative;
  margin-top: -5%;
}

#canvasbg {
  width: 100vw;
  height: 50vh;
}

.col-sm-4 {
  margin: 0px;
  padding: 3px;
}

.col-sm-12 {
  /*border-style: solid;
  border-color: #199DCE;*/
  box-shadow:0px 0px 0px 1px rgba(25,157,206,.1) inset;
  text-align: center;
  font-size: 18px;
  /*font-weight: bold;*/
  font-family: 'Roboto', sans-serif;
  padding: 10px;
}
